.container.py-5
  .row
    %h1.mx-auto A & B

.container.py-5
  .row.text-grey.p-3
    .col-12.col-sm-6
      .card.text-center
        .card-header.bg-white.border-bottom-0
          %img.border.rounded-circle{src: 'http://via.placeholder.com/200x200'}
        .card-body
          .card-title
            %h4 B
          .card-text
            %p B+B
            %p FROM
            %p iium
    .col-12.col-sm-6
      .card.text-center
        .card-header.bg-white.border-bottom-0
          %img.border.rounded-circle{src: 'http://via.placeholder.com/200x200'}
        .card-body
          .card-title
            %h4 B
          .card-text
            %p B+B
            %p FROM
            %p iium
